body {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100hv;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: 'Poppins SemiBold';
  font-weight: bold;
  font-size: 24px;
}

#myNavbar {
  color: black !important;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.principal {
  background-color: #DAF2DD;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.imagen-fondo {
  height: 100%;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url(images/placa-madre.jpg);

  background-repeat: no-repeat;
}

.principal h2,
footer {
  font-family: 'Poppins', sans-serif;

}

.texto-negrita {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.verde {
  color: #1B5E20;
  /*Verde 900*/
}

.texto-noto {
  font-family: 'Note Music', sans-serif;
  opacity: 50%;
  color: #202124;
  font-size: 16px;
}

.azul{
  background-color: #060D42;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 16px;
}


.texto-footer {
  font-size: 13px;
}




/* Set black background color, white text and some padding */
footer {
  background-color: #060D42;
  color: white;
  padding: 15px;
  margin-top: auto;
  width: 100%;
}

.centrador img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icono-footer {
  font-size: 4rem !important;
  margin: 2%;
}

.derecha {
  text-align: right;
}

.izq {
  text-align: left;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}