.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: 'Poppins SemiBold';
  font-weight: bold;  
  font-size: 24px; 
}

#myNavbar{
  color: black !important;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.principal {
  background-color: #DAF2DD;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.principal h2, footer {
  font-family:'Poppins', sans-serif;

}

.texto-negrita{
  font-family:'Poppins', sans-serif;
  font-weight: bold;
}

.verde{
  color: #1B5E20; /*Verde 900*/
}

.texto-noto{
  font-family:'Note Music', sans-serif;
  opacity: 50%;
  color: #202124;
  font-size: 16px;
}

.texto-footer{
  font-size: 13px;
}




/* Set black background color, white text and some padding */
footer {
  background-color: #060D42;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.centrador img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}